@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4" style="font-size:2.5rem">Bienvenido al modulo de notificaciones</h5>
    <p style="font-size:1.5rem">3ero Vespertina A</p>
    <p>Integrantes Del Proyecto</p>
    <p>Josue Mosquera</p>
    <p>Emily Muñoz</p>
    <p>Zaida Mejía</p>
    <p>Jose Sebastian Heredia</p>
</div>
